#main-menu .current-item-menu > a,
#page-footer ul a,
#bottom-sidebar .widget-contact li span,
.header-item > span,
#sidebar .widget-list-news .ui-accordion-content ul li span,
.widget-social li a span,
.widget-title-2 span.pull-right a,
.page-contact ul.list-unstyled li span,
.kp-dropcap .style-2:first-letter,
.page-single article .kp-author li a
{
	behavior: url(js/PIE.htc);
	position: relative;
}
.kp-dropcap li:first-letter {
	padding-left: 8px;
	padding-right: 8px;
}
.mask, .mask span {
	display: none !important;
}
#_pie_border0_257 {
	display: none;
}
